* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #bdb9cb;
}

html {
    scroll-behavior: smooth;
}

body {
    /* margin: 0rem 4rem; */
    background-color: #373244;
}

.margin {
    margin: 0rem 5rem;
}

.navbar {
    background-color: #373244;
    display: flex;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.element li {
    margin-left: 2.5rem;
}

.element a:hover,
.foot a:hover {
    color: white;
}

.social {
    margin-left: 30rem;
}

.social li {
    margin-left: 1rem;
}

.social img {
    width: 1.5rem;
}

ul {
    list-style-type: none;
}

.brand a,
.rights a {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: large;
}

.name {
    color: white;
}

a {
    text-decoration: none;
}

main {
    margin-top: 4.5rem;
}

.home {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.intro {
    margin-top: 5rem;
}

h1 {
    font-size: 55px;
    font-weight: bolder;
}

.im {
    font-size: 3.2rem;
    font-weight: normal;
}

.underline {
    background-color: #ffc200;
    height: 0.3rem;
    width: 9.5rem;
    border-radius: 0.3rem;
}

.underline {
    margin: 1.25rem 0rem;
}

.home p {
    width: 15.6rem;
    font-size: 0.9rem;
    line-height: 1.57rem;
}

.dp {
    background-color: #2e2a39;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.dp img {
    width: 31.2rem;
}

.services {
    margin: 3rem 3rem 0rem;
}

.yellow {
    color: #efbe3f;
}

.services>* {
    margin: 1.25rem 0rem;
}

.services .services-para {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

.services li,
.foot li {
    margin-right: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #47465b;
}

.logo img {
    width: 1.56rem;
}

.social-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    background-color: #423d51;
    position: relative;
    top: -2.5rem;
}

.social-bar img {
    width: 6.25rem;
}

.s1,
.s2,
.s3,
.s4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 10rem;
    background-color: #373246;
    border-radius: 0.125rem;
}

.portfolio-container-size {
    width: 100%;
}

.portfolio-container {
    background-color: #292534;
    width: 100%;
}

.portfolio,
.portfolio-tiles {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.portfolio-intro {
    height: 26rem;
    width: 48%;
}

.portfolio-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {
    font-size: 2rem;
}

.portfolio-services>* {
    width: 48%;
}

.portfolio-intro>*,
.left-outro>*,
.info-1,
.info-2 {
    margin-bottom: 1.57rem;
}

.portfolio-services h3 {
    font-size: 1.57rem;
}

.portfolio-list {
    width: 48%;
    margin-bottom: 1rem;
}

.lists,
.lists-con {
    display: flex;
    align-items: center;
}

.lists-con {
    width: 90%;
}

.lists img {
    margin: 0.9rem 0.9rem 0.9rem 0rem;
    width: 7.8rem;
}

.lists .arrow {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}

.tiles {
    background-color: #413b52;
    height: 13.75rem;
    width: 21.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0rem;
}

.tiles .logo {
    background-color: #353346;
}

.tiles>* {
    margin: 0.5rem 1.25rem;
}

.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.57rem;
}

.projects-tiles {
    height: 13.75rem;
    width: 21.9rem;
    background-color: #2a2434;
    margin-bottom: 1.57rem;
    overflow: hidden;
}

.portfolio-projects img {
    width: 20.3rem;
    border-top-left-radius: 5%;
}

.left {
    float: right;
}

.projects-tiles>* {
    margin: 0.62rem 0rem 0rem 1.57rem;
}

.projects-tiles a {
    text-decoration: underline;
}

.button {
    text-align: center;
    margin: 2rem;
}

.portfolio-projects-button,
.outro button {
    height: 3.125rem;
    width: 8.75rem;
    border-radius: 25px;
    background-color: #2a2434;
    border: 0.125rem solid #efbe3f;
    font-weight: bold;
}

.portfolio-projects-button:hover,
.arrow-button:hover,
.outro button:hover {
    background-color: #efbe3f;
    color: white;
    transition: all 0.5s ease-out;
}

.testimonial-container {
    background-color: #292534;
    width: 100%;
}

.review {
    display: flex;
    align-items: center;
    width: 100%;
}

.review .review-image {
    width: 15.6rem;
    margin: 3.12rem 0rem;
}

.testimonial-intro>* {
    margin: 0rem 0rem 0.9rem 1.57rem;
}

.testimonial-intro img {
    width: 2.2rem
}

.arrow-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.57rem;
    width: 1.57rem;
    border: 0.125rem solid #efbe3f;
    border-radius: 50%;
    float: right;
}

.outro {
    display: flex;
    justify-content: space-between;
    margin-top: 4.7rem;
}

.outro button {
    margin: 0rem;
}

.left-outro {
    width: 38.2rem;
    margin-bottom: 1rem;
}

.right-outro .dp {
    margin: 0px;
    height: 22rem;
    width: 22rem;
}

.right-outro .dp img {
    width: 22rem;
}

.about,
.rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot {
    height: 11rem;
    width: 23%;

}

.about-container {
    margin: 2.2rem 0rem;
}

.foot>*,
.foot ul>* {
    margin-bottom: 0.62rem;
}

.rights {
    margin: 0.62rem 5rem;
}