*{
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #bdb9cb;   
}

body{
    /* margin: 0rem 4rem; */
    background-color: #373244;
}

.navbar, .home, .social-bar, .portfolio, .portfolio-tiles, .portfolio-projects, .testimonial{
    margin: 0rem 4rem;
}


.navbar{
    background-color: #373244;
    display: flex;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.element{
    margin-left: 6rem;
}

.element li{
    margin-left: 2.5rem;
}

.element a:hover{
    color: white;
}

.social{
    margin-left: 30rem;
}

.social li{
    margin-left: 1rem;
}

.social img{
    width: 1.5rem;
}

ul{
    list-style-type: none;
}

.brand a{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: large;
}

.name{
    color: white;
}

a{
    text-decoration: none;
}

main{
    margin-top: 70px;
}

.home{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.intro{
    margin-top: 5rem;
}

h1{
    font-size: 55px;
    font-weight: bolder;
}

.im{
    font-size: 50px;
    font-weight: normal;
}

.underline{
    background-color: #ffc200;
    height: 5px;
    width: 150px;
    border-radius: 5px;
}

.underline{
    margin: 20px 0px;
}

.home p{
    width: 250px;
    font-size: 15px;
    line-height: 25px;
}

.dp{
    background-color: #2e2a39;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin-top: 1.5rem;;
    display: flex;
    justify-content: center;
}

.dp img{
    width: 500px;
}

.services{
    margin: 3rem 3rem 0rem;
}

.yellow{
    color: #efbe3f;
}

.services > *{
    margin: 20px 0px;
}

.services .services-para{
    color: white;
    font-size: medium;
    font-weight: 500;
}

.services li{
    margin-right: 1rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #47465b;
}

.logo img{
    width: 25px;
}

.social-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    background-color: #423d51;
    position: relative;
    top: -40px;
}

.social-bar img{
    width: 100px;
}

.s1, .s2, .s3, .s4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    background-color: #373246;
    border-radius: 2px;
}

.portfolio-container{
    background-color: #292534;
    width: 100%;
    height: 100vh;
}

.portfolio{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.portfolio-intro{
    height: 415px;
    width: 415px;
}

.portfolio-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-intro h2{
    font-size: xx-large;
}

.portfolio-intro > *{
    margin-bottom: 25px;
}

.info-4{
    margin-right: 25px;
}

.info-1, .info-2{
    margin-bottom: 25px;
}

.portfolio-services h3{
    font-size: x-large;
}

.portfolio-list{
    width: 500px;
}

.lists{
    display: flex;
    align-items: center;
}

.lists img{
    margin: 15px 15px 15px 0px;
    width: 125px;
}

.lists .arrow{
    margin-left: 330px;
}

.portfolio-tiles{
    display: flex;
    justify-content: space-between;

}

.tiles{
    background-color: #413b52;
    height: 220px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tiles .logo{
    background-color: #353346;
}

.tiles > *{
    margin: 8px 20px; 
}

.portfolio-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    height: 100vh;
}

.projects-tiles{
    height: 220px;
    width: 350px;
    background-color: #2a2434;
    margin-bottom: 25px;
    overflow: hidden;
}

.portfolio-projects img{
    width: 325px;
    border-top-left-radius: 5%;
}

.left{
    float: right;
}

.projects-tiles > *{
    margin: 10px 0px 0px 25px;
}

.projects-tiles a{
    text-decoration: underline;
}

.button{
    height: 220px;
    width: 350px;
}

.portfolio-projects button{
    height: 50px;
    width: 140px;
    border-radius: 25px;
    margin: 25px 0px 0px 550px;
    background-color: #2a2434;
    border: 2px solid #efbe3f;
    font-weight: bold;
}

.portfolio-projects button:hover{
    background-color: #efbe3f;
    color: white;
    transition: all 0.5s ease-out;
}

.testimonial-container{
    background-color: #292534;
    width: 100%;
}

